*node_modules
/public/hot
/laravel-ds/storage/*
/laravel-ds/storage/*
/rez-copy
/laravel-ds/.env
/laravel-ds/.env.backup
/laravel-ds/.phpunit.result.cache
/laravel-ds/Homestead.json
/laravel-ds/Homestead.yaml
/laravel-ds/npm-debug.log
/laravel-ds/yarn-error.log
/docs/*
!/docs/lk
/docs/lk/storage
/docs/lk/storage/*
/docs/lk/.htaccess

/cgi/*
/cmsx_741_core/*
/errordocs/*
/logs/*
/php/*
/stat/*
*.zip
.gitconfig
